body{
    background-color: #fbf5ef;
    /* width: 98vw;                */
    height: 100vh;              /* ocupa 100% da altura da viewport cumprimento*/
    margin: 0 auto;
}

header { /* botões possição*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header h1{ /*Socius impactus*/
    font-size: 3rem;
    color: #4D6F4D; /* Cor verde */
    margin-top: 0.5rem;
    margin-left: 2rem;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;}

    .container {
    width: 96vw;               /* ocupa 100% da largura da viewport */
    height: 100vh;              /* ocupa 100% da altura da viewport */
    margin: 0 auto;
    padding: 20px;
      background-color: #fbf5ef;}

    .menu button{
    margin-right: 3rem;
    color: #f9e9dc;
    background-color: #4D6F4D;
    }

    h3{ /*contatos*/
    font-size: 5rem;
    background-color: #7b5230;
    font-family: "PT Serif", serif;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fbf5ef;
    height: 20vh;
    width: 96vw;
    border-radius: 20px;
    }


    .contatos{
        display: flex;
        align-items: stretch;
    }

    .midias{ /*escritas embaixo de midias*/
        width: 34vw;
        margin-left: 15rem;
        color: #000000;
        font-family: "PT Serif", serif;
        justify-content: left;
        font-size: 1.3rem;
    }

    .midias h2{ /*midias sociais*/
        font-size: 2rem;
         /* padding: 1%; */
        /* width: 15vw; */
        color: #927348;
        font-family: "PT Serif", serif;
        /* justify-content: left; */
    }
.midias{
    box-shadow: 1px 0px 0px 0px;
}
.caixas {
    margin-left: 16rem;
    align-items: center;
    justify-items: center;
}
    
  .caixas  h2{   /*Nos envie uma mensagem*/
    font-size: 2rem;
    margin-left: 0rem;
    font-family: "PT Serif", serif;
    margin-top: 1rem;
    padding-top: 0;
    position: relative;
    top: 1px; /* Faz a div subir manualmente */
    font-size: 2rem;
    color: #927348;
}

.botao button{ /*saiba mais*/
    color: #f9e9dc;
    background-color: #4D6F4D;
   align-items: center;
}

.barra{
    background-color: #cfb46d;
    width: 97vw;
    height: 20vh;
    margin-top: 2rem;
   margin: 0;
  
}

   
