<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <header>
        <h1>Socius Impactus</h1>
        <div class="menu">
          <button mat-flat-button>Home</button>
            <button mat-flat-button>Sobre</button>
            <button mat-flat-button>Projetos</button>
        <a href="/contatos"> <button mat-flat-button>Contatos</button> </a>
        </div>
    </header>
        <h3>Contatos</h3>
   