<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <header>
        <h1>Socius Impactus</h1>
        <div class="menu">
         <a href="/home"> <button mat-flat-button>Home</button></a>
            <a href="/projetos"><button mat-flat-button>Projetos</button></a>
        <a href="/contatos"> <button mat-flat-button>Contatos</button> </a>
        </div>
    </header>
        <h3>Sobre Nós</h3>
        <p>Somos uma organização sem fins lucrativos
       que cria campanhas para ajudar pessoas e instituições.
        Mais do que doar, queremos inspirar empatia e reflexão, 
      mostrando que pequenas ações podem transformar vidas.</p>