body{
    background-color: #fbf5ef;
    /* width: 98vw;                */
    height: 100vh;              /* ocupa 100% da altura da viewport cumprimento*/
    margin: 0 auto;
}
.container {
    width: 96vw;               /* ocupa 100% da largura da viewport */
    height: 100vh;              /* ocupa 100% da altura da viewport */
    margin: 0 auto;
    padding: 20px;
    background-color: #fbf5ef;
}
.imagem{
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header h1{
    font-size: 3rem;
    color: #4D6F4D; /* Cor verde */
    margin-top: 0.5rem;
    margin-left: 2rem;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
} 

.menu button{
    margin-right: 3rem;
    color: #f9e9dc;
    background-color: #4D6F4D;
}

.menu {
    align-items:end;
}

section h3{
    font-size: 5rem;
    font-family: "PT Serif", serif;
    margin-left: 56rem;
    color: #927348;
}
section button{
    margin-right: 3rem;
    margin-left: 70rem;
    color: #f9e9dc;
    background-color: #644c2b;
    padding: 30px 40px ;
    font-size: 1.5rem;


}

.nossaMissao{
    font-size: 2rem;
    margin-top: 13%;
    background-color: #fbf5ef;
    font-family: "PT Serif", serif;
    color: #374f37;
    margin-left: 4rem;
    height: 60vh; 
}


.NossosValores{
    font-size: 2rem;
    margin-top: 20%;
    font-family: "PT Serif", serif;
    background-color:  #87b787b6;
    height: 75vh;
    width: 99vw;
    color: #2c402c;

    
}
.cards{
    display: flex;
    align-items: center;
}

.missao{
     background-color: #7b5230;
    color:  #fbf5ef;
    margin-left: 0.50rem;
    width: 30vw;
    padding: 0.9px 10px ;
    border-radius: 10%;
    height: 57vh;
}

.visao{
    background-color: #7b5230;
    color:  #fbf5ef;
    width: 30vw;
    padding: 0.9px 10px ;
    border-radius: 10%;
     margin-left: 1.5%;
    /*margin-top: -447px; */
    height: 57vh;
}

.valores{
    background-color: #7b5230;
    color:  #fbf5ef;
    width: 30vw;
    padding: 0.9px 20px ;
    border-radius: 10%;
    margin-left: 1.5%;
   /* margin-top: -447px; */
    height: 57vh;
}

.texto{
    align-items: center;
    /* display: flex; */
    justify-items: center;
    justify-content: center;
}

.sobre {
    font-family: "PT Serif", serif;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color:#7b5230 ;
   
}

.sobre p{
    font-size: 1.5rem;
}

    

   

