<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <header>
        <h1>Socius Impactus</h1>
        <div class="menu">
            <a href="/home"><button mat-flat-button>Home</button></a>
            <a href="/projetos"> <button mat-flat-button>Projetos</button></a>
        <a href="/contatos"> <button mat-flat-button>Contatos</button> </a>
        </div>
    </header>
    <div class="imagem">
        <img src="/assets/fotosite.png" alt="">
    </div>
    <section>
        <h3>Junte-se a nós no voluntariado</h3>
        <button mat-flat-button>Saiba mais</button>
    </section>
    <div class="nossaMissao">
        <h2>Nossa missão</h2>
        <p>Promover transformação social por meio de ações colaborativas e sustentáveis, fortalecendo laços comunitários </p>
        <p>e criando oportunidades que gerem impacto positivo e duradouro na vida das pessoas.</p> 
    </div>
</div>
<div class="NossosValores">
    <h2>Nossos Valores</h2>
    <div class="cards">
     <div class="missao">

        <h3>Missão</h3>
        <p>Atuar no presente criando campanhas 
            que gerem impacto social positivo ,
             incentivando a empatia,
             valorizando o olhar coletivo, promovendo 
             diálogos e gerando reflexões em diferentes contextos sociais.</p>
    </div>
    <div class="visao">
        <h3>Visão</h3>
        <p>Construir um futuro
            onde pensar no outro
            seja essencial.
            
            Promover campanhas
            capazes de transformar
            mentalidades.
            
            Inspirar empatia
            e fortalecer os laços
            entre as pessoas.</p>
    </div>
    <div class="valores">
        <h3>Valores</h3>
        <p>Empatia</p>
           
            <p>Ética</p>

           <p>Apoio Mútuo</p> 
            Inclusão e Diversidade
            
            Transformação

    </div>
        </div>
       
</div>
<div class="sobre">
    <h1>Sobre nós</h1>
    <div class="texto">
        <p> Somos uma organização sem fins lucrativos dedicada a criar campanhas que transformam realidades. </p> <br/>
        <p>Nosso propósito vai além da doação: queremos despertar empatia, promover reflexão e mostrar que pequenos gestos têm o poder de mudar vidas.</p>
        <br/> <p> Acreditamos que, juntos, podemos construir uma sociedade mais justa, solidária e consciente.</p>
    </div>
   
</div>
</body>